
.jumbotron {
	background-color: $lightblue;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #9ACDEA;
	margin-bottom: 0px;
	margin-top:10px;
}

img{
width: 100%;
}

.card-hotel{
	flex: 1 250px;
	/* 1: quedaría intacto, 2: duplicaría el tamaño. 150:Spaces/ancho definido*/
	margin-top:10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content {
	padding-top: 12px;
}