$lightblue:#439FF4;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color:$lightblue;
	color: black;
	margin-top: 50px;
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 16px 0 10px;
	background-color: $lightblue;
	@include margenes(10px, 0px);
}

img{
width: 100%;
}

.card-hotel{
	flex: 1 250px;
	/* 1: quedaría intacto, 2: duplicaría el tamaño. 150:Spaces/ancho definido*/
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content {
	padding-top: 12px;
}