@charset "UTF-8";
.jumbotron {
  background-color: #439FF4;
  color: black;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 16px 0 10px;
  background-color: #439FF4;
  margin-top: 10px;
  margin-bottom: 0px; }

img {
  width: 100%; }

.card-hotel {
  flex: 1 250px;
  /* 1: quedaría intacto, 2: duplicaría el tamaño. 150:Spaces/ancho definido*/
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 12px; }
